*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  background-color: #FF9F3E;
  height: 70px;
}
nav img{
  height: 70px;
}
.dropdown {
  float: right;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  height: 70px;
}

.navbar a:hover, .dropdown:hover .dropbtn, .Oplev-Danmark:hover{
  color: rgb(235, 235, 235);
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 20px 30px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 18px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.oplev-Danmark{
  font-size: 20px;  
  color: white;
  padding: 22px 16px;
  float: right;
  text-decoration: none;
}
#Forside-header{
  background-image: url(../images/silhouette-5582156_1920.jpg);
  padding: 100px;
  width: 100%;
  background-size: 100%;
  background-position: center;
}
#Forside-h1{
  color: white;
  font-size: 80px;
  font-weight: bold;  
  text-align: center;
  padding: 50px;
  border: 6px solid white;
}
#Forside-grid{
  display: grid;
  grid-template-columns: 11vw 11vw 11vw 11vw;
  gap: 1vw;
  padding-bottom: 5em;
  width: 48vw;
  margin: 0 auto;
}

#Forside-main h2{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  color: #FF9F3E;
}
#Forside-main button{
  width: 100%;
  height: 11vw;
  border: none;
  outline: none;
}
#Forside-main i{
  color: white;
  font-size: 5vw;
  padding: 25px 45px;
}
#Forside-main a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

#background-color-green{
  background-color: rgb(92, 252, 119);
}
#background-color-yellow{
  background-color: rgb(1, 255, 170);
}
#background-color-blue{
  background-color: rgb(120, 190, 247);
}
#background-color-purple{
  background-color: rgb(180, 92, 252);
}
#background-color-pink{
  background-color: rgb(247, 120, 241);
}
#background-color-orange{
  background-color: rgb(247, 192, 120);
}
#background-color-red{
  background-color: rgb(247, 120, 120);
}
#background-color-darkblue{
  background-color: rgb(83, 71, 255);
}
#Forside-kort{
  margin: 0 auto;
  width: 1000px;
  height: 600px;
}
footer{
  background-color: #FF9F3E;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  margin-top: 30px;
}

footer a{
  text-decoration: none;
  font-size: 16px;
  color: white;
}
footer ul{
  padding: 20px;
  margin: 0 auto;
}
footer li{
  list-style-type: none;
  margin: 2px 5px;
}
form{
  margin-top: 10px;
}
input{
  outline: none;
  padding: 5px;
  width: 100%;
}
input[type=submit] {
  width: 100%;
  background-color: #ffffff;
  color: #FF9F3E;
  padding: 5px 20px;
  margin: 2px 0;
  cursor: pointer;
  outline: none;
  border: none;
}
i{
  padding-right: 10px;
}
